.App {
  margin: 0px auto;
  padding: 0px 16px;
  text-align: center;
  max-width: 480px;
}

.uid-item {
  /*margin-bottom: 1em;*/
}

.uid-line {
  line-height: normal;
}

.uid-main {
  display: flex;
  justify-content: space-between;
}

.uid-alt {
  margin-inline-start: 1em;
  font-size: small;
  color: darkgray;
}