* {
    letter-spacing: unset !important;
}
  
.App {
  --mdc-theme-primary: #C82521;
  --mdc-theme-primary-light: #DF4A34;
  --mdc-theme-primary-dark: #700000;
  --mdc-theme-secondary: #aeaeae;
  --mdc-theme-secondary-light: #e0e0e0;
  --mdc-theme-secondary-dark: #7f7f7f;
  --mdc-theme-background: #ffffff;
}

.trn {
  display: flex;
  /*padding: logical 0px 20px;*/
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  flex-direction: row;
}

.trn-box {
  flex: auto;
  /*padding: logical 0px 8px;*/
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  box-sizing: border-box;
  inline-size: 50%;
}

.main-area {
  display: flex;
  flex-direction: column;
  padding-inline-start: 28px;
  padding-inline-end: 28px;
}

.uid-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
}

.txt-inputs {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  /*margin-inline-start: 4px;*/
  inline-size: 100%
}

.input-box {
  margin-inline-start: 12px;
}

@media (max-width: 840px) {
  .trn {
    flex-direction: column;
    /*padding: logical 0px 12px;*/
    padding-inline-start: 12px;
    padding-inline-end: 12px;
  }
  
  .trn-box {
    inline-size: 100%;
  }
}

.result {
  margin-block-start: 16px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.card-title button {
  margin: unset !important;
  position: unset !important;
}

.txt-input {
  display: flex;
  align-items: flex-start;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  padding-block-start: 8px;
  padding-block-end: 24px;
}

#trn-txt {
  inline-size: 100%;
}

.tra-button {
  min-inline-size: fit-content;
}

#expr-graph-dialog-surface {
  max-width: unset;
  min-width: unset;
  max-inline-size: 75%;
}

.mdc-dialog__body {
  text-align: center;
}

.close-button {
  position: absolute;
  offset-inline-end: 24px;
  z-index: 2;
  color: var(--mdc-theme-primary);
  cursor: pointer;
}

@supports not (offset-inline-end: 0) {
  .close-button {
    right: 24px;
  }
}

#txt-input-container {
  inline-size: 100%;
}

#txt-input {
  padding-inline-start: unset;
  border-bottom: unset;
  border-block-end: 1px solid rgba(0, 0, 0, .42);
}

#nno-label {
  font-style: oblique;
}

#swap-icon {
  color: black;
}

#first-trn-txt {
  font-size: 1.5rem;
}

.chaos-bg {
  background-color: var(--mdc-theme-secondary) !important;
}

.chaos {
  background-color: var(--mdc-theme-primary) !important;
}

.chaos-thumb {
  fill: var(--mdc-theme-primary) !important;
  stroke: var(--mdc-theme-primary) !important;
}

.chaos-pin {
  /* transform: translateZ(-1em); */
}

.kmc-button {
  max-inline-size: fit-content;
}

.loading-icon {
  padding: 16px;
}