/*@font-face {
  font-family: 'Noto Emoji';
  src: url(./fonts/NotoEmoji-Regular.ttf) format('ttf');
}*/

.App {
  /*margin: 0px auto;*/
  /*padding: 0px 16px;*/
  /*text-align: center;*/
  /*max-width: 480px;*/
}

.app-body {
  padding: 0px 16px;
}

.slider-box {
  display: flex;
  justify-content: space-between;
  /*border: 1px solid #000;*/
  align-items: center;
  padding: 0px 8px;
}

.slider-icon {
  /*font-family: 'Noto Color Emoji';*/
  font-size: x-large;
  margin-top: 24px;
  margin-bottom: 48px;
}

.slider {
  width: 100%;
  /*order: 2;*/
}

.chaos-low {
  /*order: 1;*/
  margin-inline-end: 8px;
}

.chaos-high {
  /*order: 3;*/
  margin-inline-start: 8px;
}

.slider-label-text {
  /*border: 1px solid #000;*/
  transition: all 450ms cubic-bezier(0.0, 0.0, 0.2, 1), 0ms; 
  transform-origin: center bottom;
  font-size: small;
  width: 50px;
  position: absolute;
  color: white;
  text-align: center;
}

.slider-label-box {
  /*transition: all 450ms cubic-bezier(0.0, 0.0, 0.2, 1), 0ms; */
  /*border: 1px solid #000;*/
}

.slider-svg {
  transition: all 450ms cubic-bezier(0.0, 0.0, 0.2, 1), 0ms; 
  transform-origin: center bottom;
}

.loading-icon {
  margin-inline-start: 16px;
}

.result {
  margin-top: 16px;
}

.fake-expr-row td {
  text-align: start !important;
  height: 40px !important;
}

.fake-expr-row td div div {
  margin: unset !important;
}