.uid-input {
  display: flex;
  justify-content: flex-end;
}

.uid-line {
  line-height: normal;
}

.uid-main {
  display: flex;
  justify-content: space-between;
}

.uid-name {
  margin-inline-end: 8px;
}

.uid-alt {
  margin-inline-start: 8px;
  font-size: small;
  color: darkgray;
}

.loading {
  align-self: center;
  position: absolute !important;
}
